@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');

:root{
    --bg-color:#ffffff;
    --second-bg-color:#f8f8f8;
    --text-color:#212565;
    --main-color:#3b9fcd;
    --secondry-color:#803589;
}

.TopHeader {
    background-color: var(--bg-color);
    padding: 15px 0px 10px 0px;
    text-align: center;
    width: 100%;
    height: 50px;
    background-image: url('milky-way-2695569_1280.jpg');
  
    /* position: relative;
    justify-content: space-around; */
}
/* .SocialIcons{
  margin-left: 190px;
  border: 6px  solid green;
  width: 200px !important; */
/* }
.dateAndTime{
  margin-left: -20px;
} */
/* topHeader.module.css */

  @media (min-width: 375px) and (max-width:667px) {
    .TopHeader{
       border: none;
       height: 50px;
    }
    .dateAndTime{
      margin-top: -10px;
      margin-left: -45px;
      display: none;
    }
    .tasmia{
      display: none;
    }
    .SocialIcons{
      border: none;
      /* margin-top: -8px; */
      margin-left: 40px;
      /* margin-top: -25px; */
    }
}

 