@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');

:root{
    --bg-color:#ffffff;
    --second-bg-color:#f8f8f8;
    --text-color:#212565;
    --main-color:#3b9fcd;
    --secondry-color:#803589;
}

.kidsMainHeading {
    position: relative;
    background-image: url('/pexels-abdullah-ghatasheh-2608353.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    color: var(--bg-color);
    font-size: 45px;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 100px 0px;
    margin-bottom: 0px;
    font-family: 'Cairo', sans-serif;
  }
  
  .kidsMainHeading::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the transparency as needed */
  }


  @media (min-width:375px) and (max-width:667px) {
    .kidsMainHeading {
        position: relative;
        background-image: url('/pexels-abdullah-ghatasheh-2608353.jpg');
        background-position: center;
        background-size: cover;
        text-align: center;
        color:var(--bg-color);
        font-size: 25px;
        font-weight: 600;
        height: 200px;
        letter-spacing: 2px;
        line-height: 25px;
        padding: 70px 0px;
        margin-bottom: 0px;
        font-family: 'Cairo', sans-serif;
      }
      
      .kidsMainHeading::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Adjust the transparency as needed */
      }
    }

.heading{
    text-align: left;
}
.text{
    text-align: justify !important;
}

 @media (min-width:375px) and (max-width:667px) {
    .heading{
        text-align: center;
        padding: 0px;
        font-size: 25px;
    }
    .text{
        text-align: justify !important;
    }
    }



/* /////////////////second section\\\\\\\\\\\\\\\ */

.secondSection{
    background-color: var(--second-bg-color);
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.secondSectionRow{
  margin-top: 50px;
}
.secondSectionCard{
    background-color: var(--main-color);
}
.secondSectionCardPic{
    height: 250px !important;
}

.secondSectionCardTitle{
    color: var(--bg-color) !important;
    font-weight: 600;
    text-align: center;
}
.secondSectionCardText{
    color: var(--bg-color) !important;
    font-family: MuseoSans-500 !important;
    text-align: justify;
    font-size: 17px !important;
    word-spacing: 0px;
    font-weight: 400 !important;
    padding: 0px 10px;
}

@media (min-width:375px) and (max-width:667px) {
    .secondSection{
        background-color: var(--second-bg-color);
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .secondSectionRow{
      margin-top: 50px;
    }
    .secondSectionCard{
        background-color: var(--main-color);
        margin: 20px 0px;
    }
    .secondSectionCardPic{
        height: 300px !important;
    }
    
    .secondSectionCardTitle{
        color: var(--bg-color) !important;
        font-weight: 600;
        text-align: center;
    }
    .secondSectionCardText{
        color: var(--bg-color) !important;
        font-family: MuseoSans-500 !important;
        text-align: justify;
        font-size: 17px !important;
        word-spacing: 0px;
        font-weight: 400 !important;
        padding: 0px 10px;
    }
    }



/* /////////////////third section\\\\\\\\\\\\\\\ */

.thirdSection{
    border: none;
}

.thirdSectionRow{
    border: 2px solid var(--bg-color);
    box-shadow: 10px 10px 15px var(--main-color);
    border-radius: 5px;
    background-color: var(--main-color);
    padding: 30px 0px;
}
.thirdSectioheading2{
    color: var(--bg-color) !important;
    text-align: left;
    margin-bottom: 30px;
}
.thirdSectionList li{
color: var(--bg-color);
line-height: 22x;
font-family: MuseoSans-500 !important;
text-align: left;
font-size: 17px !important;
word-spacing: 0px;
font-weight: 400 !important
}

@media (min-width:375px) and (max-width:667px) {
    .thirdSection{
        border: none;
    }
    
    .thirdSectionRow{
        border: 2px solid var(--bg-color);
        box-shadow: 5px 5px 10px var(--main-color);
        border-radius: 5px;
        background-color: var(--main-color);
        padding: 30px 0px;
    }
    .thirdSectioheading2{
        color: var(--bg-color) !important;
        text-align: center;
        font-size: 25px;
        margin-bottom: 15px;
    }
    .thirdSectionList{
        margin-bottom: 40px;
    }
    .thirdSectionList li{
    color: var(--bg-color);
    line-height: 22x;
    font-family: MuseoSans-500 !important;
    text-align: left;
    font-size: 17px !important;
    word-spacing: 0px;
    font-weight: 400 !important
    }
    }


/* /////////////////fourth section\\\\\\\\\\\\\\\ */

.fourthSection{
    background-color: var(--second-bg-color);
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.fourthSectionRow{
  margin-top: 50px;
}
.fourthSectionCard{
    background-color: var(--main-color);
}
.fourthSectionCardPic{
    height: 200px !important;
}

.fourthSectionCardTitle{
    color: var(--bg-color) !important;
    font-weight: 600;
    text-align: center;
}
.fourthSectionCardText{
    color: var(--bg-color) !important;
    font-family: MuseoSans-500 !important;
    text-align: justify;
    font-size: 17px !important;
    word-spacing: 0px;
    font-weight: 400 !important;
    padding: 0px 10px;
}

@media (min-width:375px) and (max-width:667px) {
    .fourthSection{
        background-color: var(--second-bg-color);
        margin-top: 0px;
        border: 5px solid red;
        margin-bottom: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .fourthSectionRow{
      margin-top: 0px;
    }
    .fourthSectionCard{
        background-color: var(--main-color);
        margin: 10px 0px;
    }
    .fourthSectionCardPic{
        height: 200px !important;
    }
    
    .fourthSectionCardTitle{
        color: var(--bg-color) !important;
        font-weight: 600;
        text-align: center;
    }
    .fourthSectionCardText{
        color: var(--bg-color) !important;
        font-family: MuseoSans-500 !important;
        text-align: justify;
        font-size: 17px !important;
        word-spacing: 0px;
        font-weight: 400 !important;
        padding: 0px 10px;
    }
    }


/* /////////////////fifth section\\\\\\\\\\\\\\\ */

.fifthSection{
    border: none;
}
.fifthSectionList li {
    color: var(--text-color);
    line-height: 22x;
    font-family: MuseoSans-500 !important;
    text-align: left;
    margin-left: -10px;
    font-size: 17px !important;
    word-spacing: 0px;
    font-weight: 400 !important
}
.enroll{
    border: 2px solid var(--bg-color);
    box-shadow: 10px 10px 15px var(--secondry-color);
    border-radius: 5px;
    padding: 40px 10px;
    background-color: var(--secondry-color);
    color: var(--bg-color);
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
    margin: 20px 0px;
    font-size: 36px;
}
.enroll button{
    background-color: var(--main-color);
    border: 3px solid var(--bg-color);
    padding: 5px 30px;
    font-size: 20px;
    color: var(--bg-color);
    border-radius: 50px;
}

@media (min-width:375px) and (max-width:667px) {
    .fifthSection{
        border: none;
    }
    .fifthSectionList li {
        color: var(--text-color);
        line-height: 22x;
        font-family: MuseoSans-500 !important;
        text-align: left;
        margin-left: -10px;
        font-size: 17px !important;
        word-spacing: 0px;
        font-weight: 400 !important
    }
    .enroll{
        border: 2px solid var(--bg-color);
        box-shadow: 5px 5px 10px var(--secondry-color);
        border-radius: 5px;
        padding: 20px 10px;
        background-color: var(--secondry-color);
        color: var(--bg-color);
        font-family: 'Cairo', sans-serif;
        font-weight: 500;
        margin: 20px 0px;
        text-align: center;
        font-size: 25px;
    }
    .enroll button{
        background-color: var(--main-color);
        border: 3px solid var(--bg-color);
        padding: 5px 30px;
        font-size: 15x;
        color: var(--bg-color);
        border-radius: 50px;
        margin-top: 30px;
    }
    }